
/* Big tablets up to 1320px widths */
@media only screen and (max-width: 1320px) {
    
    .row { padding: 0 2%; }
    
    .nav {
        font-size: 80%;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        padding-right: 20px;
    }
    
    .row { padding: 0 2%; }
    
    .description-text { font-size: 90%; line-height: 130%; }
    
    .btn {
        margin-top: 30px;
        padding: 15px 30px;
    }
    
    .fa-heart {
        top: 60%;
    }
    
    .info-box { font-size: 90%; }
    .section-newsletter .row { margin-bottom: 30px; }
}

/* Small tablets to big tablets: from 768px to 1023px */
@media only screen and (max-width: 1023px) {    
    .row { padding: 0 4%; }
    .banner-text { padding: 0 4%; }
    header .logo { margin-left: 0; }
    header .row { position: relative; }
    
    .main-nav {
        display: none;
        position: absolute;
        top: 59.5%;
        right: 0%;
        background-color: #2c2c2c;
        padding: 20px 30px;
    }
        
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        padding: 10px 0;
        color: #fff;
    }
    
    .mobile-nav-icon {
        display: inline-block;
    }
    
    .banner-text {
        top: 37%;
        left: 50%;
        -webkit-transform: translate(-50%, -38%);
        transform: translate(-50%, -38%);
        width: 60%;
        font-size: 55%;
        text-align: center;
        text-shadow: 1px 1px #343434;
    }
    
    input, select {
        width: 60%;
    }
    
    select {
        background-position: 97.5%;
    }
    
    .input-field {
        display: block;
        margin: 0 auto 20px auto;
    }
    
    .input-field:last-of-type {
        margin-top: 30px;
    }
    
    .btn { padding: 10px 30px; }
    
    .info-box {
        width: 100%;
        margin: 0;
    }
    
    .info-box p,
    .info-box-name {
        padding: 5px 20px 3px 20px;
    }

    .info-box p,
    .info-box a {
        font-size: 95%;
    }

    .info-box a:link,
    .info-box a:visited {
        text-decoration: none;
    }

    .info-box-name:link,
    .info-box-name:visited {
        color: #43a2f3;
        font-weight: bold;
    }

    .info-box-name:hover,
    .info-box-name:active {
        color: #fffc19;
    }

    .info-box img {
        width: 100%;
        height: 250px;
        margin-bottom: 5px;
    }
    
    .description-text {
        font-size: 85%;
        margin: 20px 40px;
        line-height: 135%;
    }
    
    .fa-heart { top: 60%; }
    
    .section-newsletter { height: 315px; }
    .section-newsletter p { margin: 0; }
    
    .input-field { margin-top: 15px; }
    .input-field:last-of-type { margin-top: 40px; }
    
    .mobile-nav-icon { margin: 20px 10px 0 0; }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    .banner-text { font-size: 50%; }
    header .logo {
        font-size: 225%;
        margin: 15px 0 0 10px;
    }
    
    .main-nav { font-size: 80%; padding: 0 20px; }
    
    .input-field {
        margin-left: auto;
        margin-right: auto;
    }
        
    .col {
        width: 100%;
        padding: 0;
    }
    
    .info-box { margin-bottom: 25px; }
    
    .info-box img { height: auto; }
    
    .nav li { font-size: 90%; margin-right: 20px; }
    
    .description-text {
        font-size: 75%;
        line-height: 125%;
        margin-top: 20px;
    }
    
    .fa-heart { top: 65%; }
}

/* Styles for several issues occurring between 480px and 600px */
@media only screen and (max-width: 600px) {
    .description li {
        width: 100%;
    }
    
    .description-text {
        font-size: 85%;
        line-height: 150%;
        margin-top: 40px;
    }
    
    .description-photo {
        display: none;
    }
    
    .nav li {
        font-size: 90%;
        margin-bottom: 7px;
    }
    
    .footer-nav li {
        margin: 0 0 7px 0;
    }
    
    .footer-nav li {
        display: block;
    }
    
    .footer-nav li:last-child { margin-bottom: 30px; }
    
    .owl-carousel { padding: 0 4%; }
}

/* Small phones from 0 to 480 px - old iPhones 4 and 5 */
@media only screen and (max-width: 480px) {
    .description-text {
        font-size: 90%;
        margin-top: 20px;
        line-height: 130%;
    }
}