/*
Main text color: #2c2c2c;
header color: #2c2c2c;
btn-primary color: #43a2f3;
*/

/* ---------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #2c2c2c;
    font-family: Avenir, Arial, sans-serif;
    font-size: 22px;
    text-rendering: optimizeLegibility;
}

.clearfix { zoom: 1 }

.clearfix:after {
    content: '';
    clear: both;
    display: block;
    visibility: hidden;
}

/* ---------------------------------------------- */
/* HEADER */
/* ---------------------------------------------- */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(/resources/css/img/dogbanner.jpg);
    background-size: cover;
    background-position: center 5%;
    height: 70vh;    
    width: 100%;
}

.logo {
    color: #fff;
    text-decoration: none;
    float: left;
    margin: 15px 0 0 60px;
    font-size: 250%;
    letter-spacing: 2px;
}

/* ---------------------------------------------- */
/* REUSABLE ELEMENTS */
/* ---------------------------------------------- */
h1 {
    font-weight: 700;
    font-size: 270%;
}

h2 {
    text-align: center;
    font-weight: 500;
}

section {
    padding: 40px 0;
}

.row {
    max-width: 1920px;
    margin: 0 auto;
}

/* Fields */
input, select {
    border-radius: 2px;
    border: 1px solid #777373;
    height: 50px;
    width: 230px;
}

input {
    padding-left: 10px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 7px;
    background: url(/resources/css/img/br_down.png) no-repeat right #fff;
    -webkit-appearance: none;
    background-position: 200px;
}

/* Buttons */
.btn {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 15px 60px;
    border-radius: 100px;
    letter-spacing: 1px;
}

.btn-primary {
    background-color: #43a2f3;
}

/* Info box grid */
.info-box {
    color: white;
    background-color: #2c2c2c;
    width: 275px;
    font-size: 80%;
    position: relative;
}

.info-box-row {
    width: 75%;
    margin-left: 12.5%;
}

.info-box p {
    padding: 5px 0 3px 20px;
}

.info-box a {
    text-decoration: none;
}

.info-box-row img {
    width: 275px;
    height: auto;
}

.section-title hr {
    margin: 5px auto 0 auto;
    background-color: #43a2f3;
    height: 8px;
    width: 52px;
    margin-bottom: 50px;
}

.info-box-link {
    background-color: #43a2f3;
    margin-top: 20px;
    text-align: center;
    padding: 5px;
}

.info-box-link a {
    color: #fff;
    font-weight: 100;
}

.additional-info {
    font-weight: 100;
    font-size: 85%;
}

.info-box-name {
    margin-top: 5px;
}

.info-box-name a {
    color: #43a2f3;
    font-weight: bold;
}

.fa-heart {
    font-size: 140%;
    font-weight: 100;
    color: #efefef;
    cursor: pointer;
    float: right;
    position: absolute;
    top: 63%;
    right: 6%;
    transition: color 0.2s;
}

.fa-heart:hover {
    color: #43a2f3;
}
/* ---------------------------------------------- */
/* NAVIGATION */
/* ---------------------------------------------- */
nav {
    background-color: #2c2c2c;
    height: 90px;
}
.main-nav {
    list-style: none;
    margin-top: 35px;
    text-align: center;
}

.main-nav li {
    display: inline-block;
    font-size: 80%;
}

.main-nav li a {
    text-decoration: none;
    color: #fff;
    padding-right: 45px;
}

/* BANNER */
.banner-text {
    position: absolute;
    color: #fff;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -38%);
    width: 60%;
    font-size: 65%;
    text-align: center;
    text-shadow: 1px 1px #343434;
}

.banner-text h1 {
    line-height: 140%;
}

/* ---------------------------------------------- */
/* SEARCH FORM */
/* ---------------------------------------------- */
.section-search {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.search-field {
    margin-right: 30px;
    display: inline-block;
    font-size: 75%;
}

.search-field select:first-child {
    color: rgba(95, 94, 94, 0.93);
}

/* ---------------------------------------------- */
/* FEATURED PETS */
/* ---------------------------------------------- */
.section-featured {
    margin-top: 10px;
    background-color: #efefef;
}

.pet-breed {
    font-weight: bold;
    font-style: italic;
}

/* ---------------------------------------------- */
/* DESCRIPTION */
/* ---------------------------------------------- */
.section-description {
    padding: 0;
    border-top: 30px solid #efefef;
}

.description {
    list-style: none;
    width: 100%;
    background-color: #2c2c2c;
    color: #ccc;
    text-align: justify;
    font-size: 75%;
    overflow: hidden;
}

.description-text {
    padding: 40px 65px;
    line-height: 145%;
}

.description li {
    display: block;
    float: left;
    width: 50%;
    height: 400px;
}

.description-photo img {
    width: 100%;
    height: auto;
}

/* ---------------------------------------------- */
/* GET INVOLVED */
/* ---------------------------------------------- */
.section-get-involved {
    margin-top: 10px;
}

.section-get-involved .info-box-name {
    text-transform: uppercase;
}

.section-get-involved .additional-info {
    line-height: 145%;
    padding-right: 40px;
}