/*
Main text color: #2c2c2c;
header color: #2c2c2c;
btn-primary color: #43a2f3;
*/

/* ---------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #2c2c2c;
    font-family: Avenir, Arial, sans-serif;
    font-size: 22px;
    text-rendering: optimizeLegibility;
}

.clearfix { zoom: 1 }

.clearfix:after {
    content: '';
    clear: both;
    display: block;
    visibility: hidden;
}

/* ---------------------------------------------- */
/* HEADER */
/* ---------------------------------------------- */
.banner-img {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.5))), url(img/dogbanner.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(img/dogbanner.jpg);
    background-size: cover;
    background-position: center 5%;
    height: 70vh;
}

header .logo {
    float: left;
    margin: 10px 0 0 0;
}

.header-no-img {
    padding-bottom: 60px;
}
/* ---------------------------------------------- */
/* REUSABLE ELEMENTS */
/* ---------------------------------------------- */
h1 {
    font-weight: 700;
    font-size: 270%;
}

h2 {
    text-align: center;
    font-weight: 500;
}

.nav {
    list-style: none;
    text-align: center;
    font-size: 90%;
}

.nav li {
    display: inline-block;
}

.nav li a:link,
.nav li a:visited {
    text-decoration: none;
    color: #ccc;
}

.nav li a:hover,
.nav li a:active {
    color: #83c2f7;
}

section {
    padding: 40px 0;
}

.row, .owl-carousel {
    max-width: 1320px;
    margin: 0 auto;
}

/* Fields */
input, select {
    border-radius: 2px;
    border: 1px solid #777373;
    height: 50px;
    width: 230px;
}

input {
    padding-left: 5px;
}

select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    padding-left: 7px;
    background: url(img/downarrow.png) no-repeat right #fff;
    -webkit-appearance: none;
    background-position: 200px;
}

.input-field {
    margin-right: 30px;
    display: inline-block;
    font-size: 75%;
}

.separator {
    margin: 60px 0;
    width: 90%;
    margin-left: 5%;
}

/* Links */
.content-link:link,
.content-link:visited {
    display: inline-block;
    float: right;
    font-size: 100%;
    color: #2c2c2c;
    margin: 30px 50px 0 0;
    text-decoration: none;
    font-size: 90%;
    color: #43a2f3;
}

/* Buttons */
.btn {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 15px 60px;
    border-radius: 100px;
    letter-spacing: 1px;
}

.btn-primary {
    background-color: #43a2f3;
}

.btn-primary:hover {
    background-color: #138af0;
}

/* Button Groups which are wrapped within a div */
.btn-group {
    float: right;
    margin: 60px 0 30px 0;
}

.btn-group .btn {
    margin-left: 35px;
}

.btn-group .btn:first-of-type:link,
.btn-group .btn:first-of-type:visited {
    color: #43a2f3;
    border: 1px solid #43a2f3;
    transition: color 0.2s, background-color 0.2s;
}

.btn-group .btn:first-of-type:hover,
.btn-group .btn:first-of-type:active {
    color: #fff;
    background-color: #138af0;
}

.btn-group .btn:nth-of-type(2):link,
.btn-group .btn:nth-of-type(2):visited {
    color: #fff;
    border: 1px solid #43a2f3;
    background-color: #43a2f3;
    padding: 15px 30px;
}

.btn-group .btn:nth-of-type(2):hover,
.btn-group .btn:nth-of-type(2):active {
    border: 1px solid #138af0;
    background-color: #138af0;
}


.logo {
    color: #fff;
    text-decoration: none;
    font-size: 250%;
    letter-spacing: 2px;
}

/* Info box grid */
.info-box {
    color: #ccc;
    background-color: #2c2c2c;
    width: 90%;
    position: relative;
}

.info-box p,
.info-box-name {
    padding: 5px 0px 3px 20px;
}

.info-box p,
.info-box a {
    font-size: 95%;
}

.info-box a:link,
.info-box a:visited {
    text-decoration: none;
}

.info-box-name:link,
.info-box-name:visited {
    color: #43a2f3;
    font-weight: bold;
    font-size: 105%;
}

.info-box-name:hover,
.info-box-name:active {
    color: #fffc19;
}

.info-box img {
    width: 100%;
    height: 250px;
    margin-bottom: 5px;
}

.section-title hr {
    margin: 5px auto 50px auto;
    background-color: #43a2f3;
    height: 8px;
    width: 52px;
}

.info-box-link {
    background-color: #43a2f3;
    margin-top: 20px;
    text-align: center;
    padding: 5px;
}

.info-box-link a:link,
.info-box-link a:visited {
    color: #fff;
    font-weight: 100;
}

.info-box-link a:hover,
.info-box-link a:active {
    color: #fffc19;
    font-weight: 100;
}

.additional-info {
    font-weight: 100;
    font-size: 90%
}

.fa-heart {
    font-size: 110%;
    font-weight: 100;
    color: #efefef;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.fa-heart:hover { color: #43a2f3; }

.breadcrumb {
    position: relative;
    text-align: left;
    margin-bottom: 20px;
}

.breadcrumb p:first-of-type {
    font-size: 85%;
    font-weight: 100;
    color: #606060;
}

.breadcrumb p:last-of-type {
    display: inline-block;
    letter-spacing: 0.5px;
}

.breadcrumb p { margin-top: 40px; }

.carousel-wrapper {
    position: relative;
}

.carousel-arrow {
    position: absolute;
    text-align: center;
    line-height: 42px;
    font-size: 140%;
    font-weight: 100;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    top: 41%;
    z-index: 3;
    opacity: 0.7;
    color: #2c2c2c;
}

/* ---------------------------------------------- */
/* NAVIGATION */
/* ---------------------------------------------- */
nav {
    background-color: #2c2c2c;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.main-nav {
    margin-top: 30px;
    float: right;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding-right: 45px;
}

/* BANNER */
.banner-text {
    position: absolute;
    color: #fff;
    top: 37%;
    left: 50%;
    -webkit-transform: translate(-50%, -38%);
    transform: translate(-50%, -38%);
    width: 60%;
    font-size: 65%;
    text-align: center;
    text-shadow: 1px 1px #343434;
}

.banner-text h1 {
    line-height: 135%;
}

.mobile-nav-icon {
    float: right;
    margin: 30px 10px 0 0;
    cursor: pointer;
    display: none;
    font-size: 150%;
    color: #fff;
}
/* ---------------------------------------------- */
/* SEARCH FORM */
/* ---------------------------------------------- */
.section-search {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.input-field select:first-child {
    color: rgba(95, 94, 94, 0.93);
}

/* ---------------------------------------------- */
/* FEATURED PETS */
/* ---------------------------------------------- */
.section-featured {
    margin-top: 10px;
    background-color: #efefef;
}

.pet-breed {
    font-weight: bold;
    font-style: italic;
}

.info-box .details {
    margin-top: 10px;
}

.section-featured .carousel-arrow {
    background-color: #2c2c2c;
    color: #fff;
}

.section-featured .arrow-left {
    left: 6%;
}

.section-featured .arrow-right {
    right: 6%;
}

/* ---------------------------------------------- */
/* DESCRIPTION */
/* ---------------------------------------------- */
.section-description {
    padding: 0;
    border-top: 30px solid #efefef;
}

.description {
    list-style: none;
    color: #ccc;
    text-align: justify;
    font-size: 80%;
    overflow: hidden;
    height: 450px;
    background-color: #2c2c2c;
}

.description-text {
    margin: 40px 60px;
    line-height: 145%;
}

.description li {
    display: inline-block;
    float: left;
    width: 50%;
}

.description-photo {
    background-image: url(img/cat-description.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 450px;
}

/* ---------------------------------------------- */
/* GET INVOLVED */
/* ---------------------------------------------- */
.section-get-involved {
    margin-top: 10px;
}

.section-get-involved .info-box-name {
    text-transform: uppercase;
}

.section-get-involved .additional-info {
    line-height: 130%;
    padding-right: 40px;
}

/* ---------------------------------------------- */
/* NEWSLETTER */
/* ---------------------------------------------- */
.section-newsletter {
    text-align: center;
    background-color: #2c2c2c;
    height: 120px;
    border-bottom: 1px solid #ccc;
}

.section-newsletter p {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-size: 120%;
    text-align: center;
    margin-right: 40px;
}

/* ---------------------------------------------- */
/* FOOTER */
/* ---------------------------------------------- */
footer {
    background-color: #2c2c2c;
    overflow: hidden;
    color: #ccc;
    width: 100%;
    text-align: center;
}

footer .row:first-child {
    margin-top: 30px;
}

footer .row {
    margin-bottom: 30px;
}

.footer-nav li {
    margin-right: 40px;
}

.social-links {
    list-style: none;
    font-size: 150%;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.social-links li a {
    color: #fff;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-pinterest:hover {
    color: #cb2027;
}

.fa-twitter-square:hover {
    color: #55acee;
}

.fa-instagram:hover {
    color: #e95950;
}

.fa-google-plus-square:hover {
    color: #dd4b39;
}


footer .row:last-child {
    font-size: 50%;
}

/* ---------------------------------------------- */
/* OWL SLIDER STYLES */
/* ---------------------------------------------- */
.owl-theme .owl-nav [class*=owl-] {
    background-color: #2c2c2c !important;
}

/*----------------------- SEARCH.HTML ------------------------------*/
/* ---------------------------------------------- */
/* SEARCH RESULTS */
/* ---------------------------------------------- */
.info-box-row {
    margin-bottom: 40px;
}

.section-results {
    padding: 0;
    margin: 0;
}

.section-results img {
    height: auto;
}

.section-results .col { padding-right: 10px; }

/* ---------------------------------------------- */
/* FILTER MENU */
/* ---------------------------------------------- */
.filter-menu {
    display: inline-block;
    float: right;
    font-size: 100%;
    color: #2c2c2c;
    margin: 30px 50px 0 0;
}

.filter-options {
    display: none;
    background-color: #f8f8f8;
    z-index: 9998;
    border: 0.5px solid #ccc;
    width: 80%;
    position: absolute;
    top: 100%;
    right: 3.7%;
    padding: 20px 40px;
    font-size: 75%;
}

.filter-options input {
    margin: 0 0 7px 10px;
    width: 12px;
    height: auto;
}

.filter-options input:first-of-type {
    margin-top: 10px;
}

.filter-options label {
    margin-left: 7px;
}

/* ---------------------------------------------- */
/* PAGINATION */
/* ---------------------------------------------- */
.section-pagination {
    width: 325px;
    margin: 0 auto;
}

.pagination {
    text-align: center;
    border: 1px solid #ccc;
    list-style: none;
    box-shadow: 2px 2px #d4d4d4;
}

.pagination li {
    margin: 10px 0;
}

.pagination .page {
    margin-right: 4px;
}

.pagination:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.pagination:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.pagination li {
    display: inline-block;
    padding-right: 10px;
}

.pagination li a {
    text-decoration: none;
    text-align: center;
}

.pagination .active a:link,
.pagination .active a:visited {
    font-weight: bold;
    color: #43a2f3;
    text-decoration: underline;
}

/*----------------------- PROFILE.HTML ------------------------------*/
/* ---------------------------------------------- */
/* PROFILE */
/* ---------------------------------------------- */
.section-profile {
    margin: 0 0 20px 0;
    padding: 0;
}

.section-profile h1 {
    font-weight: 500;
    font-size: 200%;
}

.section-profile .row:first-of-type {
    margin-bottom: 30px;
}

.section-featured .owl-item:not(.active),
.section-profile .owl-item:not(.active) {
    opacity: 0.6;
}

.section-profile .owl-item img {
    height: 500px;
}

.section-profile .js--carousel-profile {
    width: 80%;
}

.section-profile .arrow-left {
    left: 12.5%;
}

.section-profile .arrow-right {
    right: 12.5%;
}

.section-profile .col {
    margin: 0;
    padding: 0;
}

.pet-details { width: 25%; font-size: 90%; }
.pet-details h2 { text-align: left; }
.pet-details p { margin-top: 10px; }

.pet-details .btn-group {
    float: none;
    text-align: center;
    margin-top: 30px;
}

.pet-details .btn {
    display: block;
    width: 100%;
    margin-top: 5%;
}

/* Social links */
.section-profile .social-links { margin: 5px 0 0 85px; }
.section-profile .social-links ul { margin: 0; padding: 0; }

.section-profile .social-links li a:link,
.section-profile .social-links li a:visited {
    color: #5d5d5d;
}

.section-profile .social-links .fa-heart {
    color: #5d5d5d;
    font-size: 100%;
    float: none;
}

.section-profile .social-links .fa-heart:hover { color: #43a2f3; }

.section-profile .social-links, .section-profile .content-link { display: inline-block; }

.profile-links {
    position: relative;
}

.profile-links .content-link {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10%;
    right: 40.5%;
}

/* ---------------------------------------------- */
/* PET INFORMATION */
/* ---------------------------------------------- */
.section-information {
    padding: 0;
}
.section-information h2 {
    text-align: left;
    color: #43a2f3;
}